<title>Cinderwolf</title>
<meta name="description" content="I’m Erica AKA Cinder or perilstar and this is my personal website. Here you can find some of the things I’ve made." />

<link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">

<meta property="og:type" content="website" />
<meta property="og:site_name" content="cinderwolf_net" />
<meta property="og:title" content="Cinder's Stuff" />
<meta property="og:description" content="A collection of cool computer creations coded by Cinder." />
<meta property="og:image" content="{{ "/cinderwolf.png" | prepend: site.baseurl }}">
<meta property="og:locale" content="en_US" />
<meta property="og:url" content="https://cinderwolf.net/" />

<meta name="twitter:card" content="summary" />
<meta property="twitter:title" content="Cinder's Stuff" />
